@page
@model WebbLab3.Pages.Movies.PurchaseTicketsModel

@{
    ViewData["Title"] = "PurchaseTickets";
}

<h1>PurchaseTickets</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <input type="hidden" asp-for="Movie.Title" />
                <h3>@Model.Movie.Title</h3><br />
            </div>
            <div class="form-group">
                <label asp-for="Movie.NumberOfSeats" class="control-label"></label>
                <input asp-for="Movie.NumberOfSeats" class="form-control" />
                <span asp-validation-for="Movie.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.MovieStartTime" class="control-label"></label>
                <input asp-for="Movie.MovieStartTime" class="form-control" />
                <span asp-validation-for="Movie.MovieStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
